.forms {
  display: flex;
  flex-direction: column;
  max-width: 548px;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.dot {
  color: red;
}
.input__wrapper {
  max-width: 548px !important;
  width: 100%;
  display: flex;
  gap: 9px;
  align-items: start;
}
label {
  cursor: pointer;
  white-space: nowrap;
}
.title {
  padding-top: 9px;
}
.input__wrapper .input {
  width: 100%;
}
.form__wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 9px 0;
}
.form__wrapper span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.input-date {
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--placeholder-color);
  outline: none;
  appearance: none;
}

.button__wrapper {
  display: flex;
  gap: 22px;
  justify-content: flex-end;
}

