.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 548px;
  width: 100%;
  justify-content: center;
  gap: 30px;
}
.dot {
  color: red;
}
.input__wrapper {
  max-width: 548px !important;
  width: 100%;
  display: flex;
  gap: 9px;
  align-items: center;
}
label {
  cursor: pointer;
  white-space: nowrap;
}
.input__wrapper .input {
  width: 100%;
}
