
.header ul {
  display: flex;
  align-items: center;
  justify-content: center ;
  gap: 2rem;
  padding: 1rem 0;
}

main {
  margin-top: 100px !important;
  text-align: center;
  color: rgb(37, 37, 37);
}