body {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 40px;
}
form ol {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form ol li span {
  display: flex;
  align-items: center;
  gap: 8px;
}
form input {
  cursor: pointer;
}
form .none-radio {
  display: none;
}
form .input-radio:checked {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 5px solid var(--blue-color);
  border-radius: 1000px;
}
form .input-checkbox {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid var(--placeholder-color);
}
form .input-radio {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 1000px;
  border: 1px solid var(--placeholder-color);
}
form .input-checkbox:checked {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 5px solid var(--blue-color);
}
form .input-radio:checked ~ .base-label,
form .input-checkbox:checked ~ .base-label {
  color: var(--blue-color);
}
form .input-radio:checked + .border-radio {
  border: 1px solid var(--blue-color);
}
form input:disabled + label {
  color: var(--placeholder-color);
}
form input:disabled:checked + label {
  background-color: var(--placeholder-color);
}
form label {
  cursor: pointer;
}
form .label {
  padding: 8px 20px;
  color: var(--text-regular-color);
}
form .label.large {
  padding: 10px 20px;
}
form .label.small {
  padding: 6px 20px;
}
form .label.extra-small {
  padding: 4px 20px;
}

#example1:checked ~ .label1,
#example2:checked ~ .label2,
#example3:checked ~ .label3,
#example4:checked ~ .label4 {
  background-color: var(--blue-color);
  color: white;
}

form ol li {
  display: flex;
  align-items: center;
}
.label__btn {
  border: 1px solid #e5e5e5;
}

.list {
  padding: 20px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.list__radio {
  gap: 10px;
}
